build/
devel/
result*
*.egg-info
*.pyc
.catkin_workspace
log
.vscode/
.ipynb_checkpoints/
*.pkl
bags/*.bag/
__pycache__
events.*
*.pth
*.mp4

csv/*
acme_logs/*
!acme_logs/README.md
!acme_logs/plot_score.py
catkin_ws/src/wamv_rl/model/*
catkin_ws/src/wamv_rl/csv
catkin_ws/logs/*
catkin_ws/.catkin_tools/

rl/d4pg/learner
rl/d4pg/train_loop
Results/*
!/**/.gitkeep
*.ipynb
*.swp

tags

ckpt-*

volume/*
utils/*.png

rl/ppo/logs/
rl/ppo/tb_ppo/

drone_gazebo/models/sanxiantai_bridge/meshes/*