<?xml version="1.0" ?>
<!-- World containing sydneyregatta model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="sanxiantai_world">
    <physics type='ode'>
      <max_step_size>0.004</max_step_size>
      <real_time_factor>1</real_time_factor>
      <real_time_update_rate>250</real_time_update_rate>
    </physics>
    <xacro:include filename="$(find drone_gazebo)/worlds/sanxiantai.xacro" />
    <xacro:sanxiantai />
  </world>
</sdf>
